[user]
  name = Mikhail Durmanov
  email = madurmanov@gmail.com
[core]
  autocrlf = false
  safecrlf = true
  editor = emacs
  excludesfile = ~/.gitignore
[push]
  default = simple
[alias]
  cl = clone
  sw = show
  ss = status
  dd = add
  di = diff
  dic = diff --cached
  br = branch
  brd = branch -d
  bl = blame
  cm = commit
  cmm = commit -m
  cma = commit --amend -m
  co = checkout
  cob = checkout -b
  rs = reset
  mr = merge
  ph = push
  pl = pull
  fe = fetch
  sh = stash
  shl = stash list
  shd = stash drop
  sha = stash apply
  cp = cherry-pick
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --abbrev-commit --date=relative
