[user]
  name = Mikhail Durmanov
  email = madurmanov@gmail.com
[core]
  autocrlf = false
  safecrlf = true
  editor = emacs
  excludesfile = ~/.gitignore
[push]
  default = simple
[alias]
  bl = blame
  br = branch
  brd = branch -d
  brdd = branch -D
  cl = clone
  cm = commit
  cma = commit --amend -m
  cmm = commit -m
  cmn = commit --amend --no-edit
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  dd = add
  di = diff
  dic = diff --cached
  fe = fetch
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --abbrev-commit --date=relative
  lga = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --abbrev-commit --date=relative --all
  mr = merge
  ph = push
  phf = push --force
  phu = push -u origin
  pl = pull
  rb = rebase
  rbc = rebase --continue
  rbi = rebase -i
  rs = reset
  sh = stash
  sha = stash apply
  shd = stash drop
  shl = stash list
  sl = shortlog
  ss = status
  sw = show
